@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  @apply font-light;
}

br {
  @apply hidden md:block
}

/* styles.css */
.hero-background {
  background:
  /* url('/Ellipse.png'), */
  radial-gradient(58.28% 63.7% at 50% 40.11%, #4A054F 0%, #350658 66.43%, #1E0551 98.5%);
  /* background-position: 0 200px 0 1000px; */
}

.case-study-background {
  background: linear-gradient(180deg, #0C0222 0.13%, #E750B7 100%);
}

.last-background {
  background: linear-gradient(180deg, #E750B7 0.13%, #0C0222 100%);
}

.btn-shadow {
  box-shadow: 0px 0px 100px 0px #D951AF80;
}

.about-shadow-1 {
  background: radial-gradient(100% 63.7% at 50% 40.11%, #4A054F 0%, #350658 66.43%, #1E0551 98.5%),
  linear-gradient(183.26deg, #1E0551 -17.82%, #350658 20.84%, #4A054F 100.91%);  
}

.about-shadow-2 {
  background: linear-gradient(183.26deg, #4A054F -19.63%, #0C0222 99.1%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes float1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20vw, -30vh);
  }
  50% {
    transform: translate(-10vw, 20vh);
  }
  75% {
    transform: translate(15vw, -10vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-15vw, 25vh);
  }
  50% {
    transform: translate(25vw, -20vh);
  }
  75% {
    transform: translate(-20vw, 15vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30vw, 10vh);
  }
  50% {
    transform: translate(-20vw, -25vh);
  }
  75% {
    transform: translate(10vw, 20vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

.floating-1 {
  animation: float1 25s ease-in-out infinite alternate;
}

.floating-2 {
  animation: float2 30s ease-in-out infinite alternate;
}

.floating-3 {
  animation: float3 35s ease-in-out infinite alternate;
}

.glowing-oval {
  /* @apply absolute z-10 w-full h-[783px] bg-[#090009] rounded-[50%]; */
  @apply absolute z-10 w-full h-[500px] md:h-[783px] bg-[#090009] rounded-[50%];

  background: radial-gradient(59.33% 49.94% at 50% 50.06%, #0C0222 80%, #E750B7 100%);
}

.glowing-shadow {
  box-shadow: 0 0 60px 20px rgba(231, 72, 255, 0.5);
  box-shadow: 0px 4px 250px 0px #F58ED5;
}

.slide-track {
  @apply w-full flex gap-20 overflow-hidden;

  img {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
  }
}

.slider {
  padding: 8em 2em;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}

.linkEffect {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}

.linkEffect::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.linkEffect--rightToLeft:hover::after {
  transform: translateX(0);
}
